/* responsive */
@media screen and (max-width: 1280px) {
    .nav {
      padding: 15px 100px;
    }
    .banner{
      /* flex-wrap: wrap; */
      flex-direction: column;
    }

  }
  @media screen and (max-width: 1024px) {
    .nav {
      padding: 15px 50px;
    }
    
  }
  @media screen and (max-width: 768px) {
    .nav .navOpenBtn,
    .nav .navCloseBtn {
      display: block;
      color: #c9aa8d;
    }
    .nav {
      padding: 15px 20px;
    }
    .nav .nav-links {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      max-width: 280px;
      width: 100%;
      padding-top: 100px;
      row-gap: 30px;
      flex-direction: column;
      background-color: #b6ae98;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
      z-index: 2;
    }
    .nav.openNav .nav-links {
      right: 0;
    }
    .nav .navOpenBtn {
      color: black;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: black;
      font-size: 20px;
      cursor: pointer;
    }

  }