body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.toy-container {
    max-width: 600px;
    border: solid;
    text-align: center;
    background: none;
    padding: 30px;
}

.toy-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toy-slide p {
    font-size: 16px;
    color: rgb(146, 145, 145);
    font-weight: 400;
    letter-spacing: -1px;
    word-spacing: 5px;
}

.toy-slide h1 {
    font-size: 40px;
    color: rgb(146, 145, 145);
    font-weight: 600;
    margin: -5px;
    word-spacing: 10px;
    letter-spacing: -2px;
}

.toy-slide button {
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    border: none;
    background-color: rgb(247, 124, 144);
    letter-spacing: -1px;
    word-spacing: 5px;
}

.toy-image {
    width: 80px;
    height: 80px;
}

/* swiper 2 */
.testimonial-container {
    width: 80%;
    max-width: 400px;
    border: solid;
    text-align: center;
    background: green;
    height: 500px;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
}

.testimonial-image1 {
    width: 200px;
    height: 200px;
    position: absolute;
    transform: scale(1.2);
    z-index: 1;
}

.testimonial-image2 {
    width: 200px;
    height: 200px;
    transform: scale(0.9);
}

.testimonial-image3 {
    width: 200px;
    height: 200px;
    transform: scale(0.9);
}   

/* div flex */
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: solid;
    
}